*{
  margin: 0;
  padding: 0;
}
body{
    height: 100vh;
    align-items: space-between;
    background-color: #31081F;
}
main{
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px;
}

.container_link{
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
#person,#points,#product{
  background-color: rgba(88, 170, 224, 0.158);
  height: 50px;
  width: 70px;
  border: 0px;
  border-radius: 30px;
}

#box_search{
  margin-bottom: 100px;
}
#search{
  border-radius: 30px 0px 30px 0px;
  height: 50px;
  width: 30vw;
  border: 1px solid black;
  padding: 20px;
}
.input{
  display: flex;
  justify-content: space-around;
}
#btn-save{
  width: 5vw;
  height: 5vh;
  border-radius: 10px;
}

.option{
  display: flex;
  justify-content: space-around;
  margin: 50px 0px 50px 0px;
}
.option input{
  background-color: rgba(255, 255, 255, 0.308);
  border: 0px;
  border-radius: 20px;
}
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
  border-spacing: 0;
}
thead{
  border-collapse: collapse;
  
 }
 .tr_head{
   position: sticky;
   top: 0;
   left: 0;
   background-color: rgb(104, 36, 36);
 }

#area_tab{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
table, th, td {
  border: 0px;
}


section{
  margin: 50px;
}


::-webkit-scrollbar {
    width: 2px;
    background-color: white;
} 
